@charset "utf-8"
*{
	
	margin:0px auto;
	padding:0px;
	}
/*body{
	width:1500px;
	height:auto;
	background: url(images/banner.jpg) no-repeat;
	background-size: cover;
	color: #FAFAF7;
}*/
a{
	text-decoration: none;
}

#head2{
	padding-top: 30px;
	padding-bottom: 10px;
	width:100%;
	height:60px;
	}
#head2 li{
	float:right;
	width:50px;
	height:40px;
	list-style:none;
}

	
#header{
	clear:both;
	background:url(images/banner.jpg) no-repeat;
	background-size:cover;
	width:100%;
	height:380px;
	border-bottom: 5px solid #F34949;
	}
#menu{
	height:80px;
	width:150px;
	background: url(images/menu-bg.png) no-repeat;
	position: relative;
	float: center;
	z-index: 1;

}
#menu p{
	color:white;
	font-size:35px;
	position: relative;
	text-align: center;
	top:10px;
}
#header p{
	font-weight:bold;
	font-style:normal;
	color:#FFF;
	line-height:160px;
	text-align: center;
	font-weight: lighter;
	}
#header #d1{
	position: relative;
	top:70px;
	font-size:60px;
	}
.english{
	font-size:25px;
}

#myform{
	display:none;
	color:white;
	background-color:#272822;
	opacity: 0.8;
	width:300px;
	height:200px;
	padding-left: 2%;
	padding-right: 1%;
	padding-top:30px;
	position: absolute;
	top:300px;
	left:500px;
	border-radius: 15px;
}
.uname,.pwd{
	color:white;
	font-weight:bold;
	font-size: 16px;
	background-color:#272822;
	opacity: 0.5;
	border:none;
	border-bottom:1px solid #FAFAF7;
	margin-top: 15px;
}
#sub_result{
	width:80px;
}
#btn{
	margin-top:20px;
	margin-left:40px;
	color: white;
	border:none;
	background: none;
}
#btn2{
	margin-top:20px;
	margin-left: 100px;
	color: white;
	border:none;
	background: none;
}
#submit_t,#out{
	font-size:14px;
	color:black;
	
}
#total a{
	display: inline-block;
	position: relative;
	bottom:202px;
	width:120px;
	height:203px;
	text-align: center;
	color: #C1BFBF;
	font-size: 120px;
	font-weight:bolder;
	padding-right: 20px;
	margin-left:30px;
	background-color:rgba(0,0,0,0.1); 
	}
.to_left{
	right: 10px;
}
.to_right{
	left: 910px;
}
#shop{
	background: url(images/car.png) no-repeat;
	background-size:contain;
	margin-bottom: -10px;
}

#look{
	color:#666666;
	width:200px;
	height:auto;
	position: relative;
	right:580px;
	top:100px;
	background: url(images/5.jpg);
	opacity: 0.8;
	padding-top: 10px;
}
#look li{
	width:150px;
	text-align: center;
	line-height: 30px;
	
}
#title_food{
	border-bottom:1px solid #666666;
	list-style:none;
}
#shoppingcar{
	
	background: rgba(0,0,0,0.5);
	width:650px;
	height:auto;
	position: fixed;
	bottom: 0px;
	
	z-index: 3;
	display: none;
	text-align: center;
	border-radius:15px;
	
}
#shoppingcar p{
	width:200px;
	color:white;
	line-height:30px;
	text-align: center;
	margin-bottom: 5px;
	border-bottom:1px solid #666666;
}
#shoppingcar table{
	width:90%;
	margin-top: 5px;
	padding-bottom: 5px;
}
#shoppingcar table tr td{
	color: white;
	border:none;
	width:10%;
	text-align:center;
}
.delete{
	font-size: 16px;
	background: none;
	border:none;
	color:red;
}

.addfoodnum{
	font-size: 16px;
	background: none;
	border:none;
	color:white;
}
.delete:hover,.addfoodnum:hover{
	width: 20px;
	height:20px;
	border-radius: 15px;
	background-color: #979797;
}
#refirm_buy{
	width:60px;
	height:20px;
	position: relative;
	bottom:5px;
	right:5px;
	font-size: 12px;
	color:white;
	margin-top:10px;
	background-color: #272822;
	border-radius: 15px;
}
.inp{
	width:60px;
	height:25px;
	background-color:#E0E6F1;
	border:1px solid #ccc;
	border-radius:10px;
	margin-top:10px;
}
.inp:hover{
	background-color:#D1DBF0;
}
.find{
	width:65px;
	height:25px;
	background-color:#E0E6F1;
	border:1px solid #ccc;
	margin-left:30px;
	border-radius:10px;
	margin-top:10px;
}
.find:hover{
	background-color:#D1DBF0;
}
#btn3{
	width:70px;
	height:25px;
	background:url(images/88.jpg) no-repeat;
	border-radius:15px;
	position:relative;
	left:120px;
	top:55px;
	
}
#btn3:hover{
	color:white;
	
}
#btn4{
	width:70px;
	height:25px;
	background:url(images/88.jpg) no-repeat;
	border-radius:15px;
	position:relative;
	right:60px;
	top:30px;
	
}
#btn4:hover{
	color:white;
}
#btn5{
	width:70px;
	height:25px;
	background:url(images/88.jpg) no-repeat;
	border-radius: 15px;
	position:relative;
	right:40px;
	top:30px;
	
}
#btn5:hover{
	color:white;
	
}
#logo{
	position:absolute;
	top:30px;
	left:60px;
}
#footer{
	width:100%;
	height:50px;
	background-color:#3B3B3B;
	margin-bottom:-30px;
}
#footer p{
	font-size:14px;
	color:#fff;
	position:relative;
	top:20px;
	left:75%;
}
.flogo{
	position:relative;
	float:left;
	left:80px;
	top:10px;
}
.else_word{
	position: relative;
	bottom:60px;
	left:40px;
}
#span4:hover{
	border:1px solid #6CCFF7;
}